* {
    box-sizing: border-box;
}

body {
    margin: 0;    
}

nav, footer {
    font-size: 14px;
    font-family: 'Tajawal-Regular' !important;
}

/* barra govierno */
nav {
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style: none;    
}

nav a {
    text-decoration: none;    
}

.barra_gov {
    background-color: #3366cc !important;
    width: 100%;
    height: 48px;
    padding: 0px;    
    display: flex;
    z-index: 10;
    position: relative;
    align-items: center;
}

.logo-gov {
    display: flex;
    align-items: center;
}

.logo-gov img {
    width: auto;
    height: 27px;
    padding-right: 1rem;
    padding-left: 1rem;
}

/* nav */
.navbarigac {
    position: sticky;
    top: 0;
    height: 60px;
    background: #E9EAEB;
    display: flex;
    justify-content: space-between;
}

.navbarigac .logos {
    display: flex;
    align-items: center;    
}

.navbar-brand-igac {
    order: 1;
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbarigac img {
    order: 2;
    height: 11px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-brand-igac img {
    max-height: 35px;
    height: 35px;
    min-height: 35px;
    width: auto;
    display: block;
    padding: 0;    
}

.navbarigac ul {
    margin-top: 0;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.navbarigac ul li {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.navbarigac ul li a {
    color: #666666;
}

.nav-bar-toggle-igac {
    display: none;
    padding: 0 15px;
    border: 0;
    background: none;
}

.nav-bar-toggle-igac .icon-bar {
    display: block;
    background: #666666;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    border-radius: 1px;
}

.navbarnavigac {    
    width: 100%;
    position: absolute;
    max-height: 0;
    background: #E9EAEB;
    overflow: hidden;
    transition: all 0.3s ease;
}

.navbarnavigac.expandMenu {    
    max-height: 200px;
    transition: all 0.6s ease;
}

/* Footer*/
footer {
    padding-top: 1px;    
    background: #e6effd;
    color: #000;
}

footer > .containerf,
.gov-co-footer-pie > .containerf {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer .footer-container > .rowf {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

footer .rowf > .col-md-6f {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-container {
    padding: 2rem;
    margin-bottom: 50px !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    background: #fff;
}

footer .footer-titulo {
    padding-top: 1rem;
    font-family: 'Tajawal-Bold';
    font-size: 1.3rem;
    padding-top: 1rem!important;
}

.footer .logos-footer  {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

footer h2 {
    font-size: 1.2rem;
}

footer h3 {
    font-size: 1rem;
}

footer p {
    color: #000;
    font-size: .875rem;
    line-height: 1.5;
    margin-bottom: 1.5rem !important;
}

footer a {
    color: #3366cc !important;
    text-decoration: underline !important;
}

footer .redes-sociales a {
    display: flex;
    align-items: center;
}

footer .footer-enlaces a {
    font-family: 'Tajawal-Bold';
    text-decoration: none !important;
    text-transform: none;
    padding-right: 0.5rem;
}

footer .icono-redes {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.gov-co-footer-auto  {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

footer .gov-co-footer-pie {
    background-color: #3366cc !important;
    padding: 5px;
}

footer .gov-co-logo-pie-blanco {
    width: auto;
    height: 50px;
    border-right: white solid 1px;
    padding-right: 15px;
}

footer .gov-co-footer-auto  a {
    color: #fff !important;
}

footer .gov-co-logo-pie-mesa {
    width: auto;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Media querys */
@media (max-width: 768px) {
    .navbarigac ul {
        display: none;
    }

    .nav-bar-toggle-igac {
        display: block;
    }

    #link-list {
        margin-top: 0;
        border-top: 1.5px solid #3366cc;
        color: #666666;
        padding: 0 1.5rem;
        margin-bottom: 0;
    }

    #link-list li {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #link-list li a {
        color: #666666;
        line-height: normal;
    }

    .barra_gov {
        justify-content: space-between;
        padding-right: 0;
    }
}

@media (max-width: 1200px) {
    /* Footer*/
    footer > .containerf,
    .gov-co-footer-pie > .containerf {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    /* Footer*/
    footer > .containerf,
    .gov-co-footer-pie > .containerf {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    /* Footer*/
    footer > .containerf,
    .gov-co-footer-pie > .containerf {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    /* Navbar*/
    .navbar-brand-igac {
        padding-right: 5px;
        padding-left: 5px;
    }

    .logo-gov img {
        height: 20px;
    }

    .navbar-brand-igac img {
        height: 30px;
    }

    /* Footer*/
    footer > .containerf,
    .gov-co-footer-pie > .containerf {
        max-width: 540px;
    }

    footer .gov-co-logo-pie-blanco {
        height: 40px;
    }

    footer .gov-co-logo-pie-mesa {
        height: 40px;
    }

    footer .rowf > .col-md-6f {
        flex: 0 0 100%;
        max-width: 100%;
    }

    footer .logos-footer {
        display: none;
    }
}